@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    direction: rtl;
}
*,*::before,*::after{
    font-family:"Vazirmatn" ;
}

/************         sweetalert toast             *************/

.toast{
    z-index: 999999 !important;
  }
  .toast_title{
    font-size: 1.4rem !important;
    margin-bottom: 0 !important;
  }
  .toast_icon{
    font-size: 1.2rem !important;
  }
  .toast_progress_error{
    background-color: red !important;
  }
  .toast_progress_success{
    background-color: green !important;
  }
  .toast_progress_warning{
    background-color: green !important;
  }
  .toast_text{
    font-size: 0.8rem !important;
  }
  